{% extends 'base.html' %}
{% block content %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="container">
                <h1 class="page-header">Profile</h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Blog Post Row -->
        <div class="row">
            <div class="col s12 m6">
           <p>first name : {{user.first_name}}</p>
           <p>last name : {{user.last_name}}</p>
           <p>date joined : {{user.date_joined}}</p>
           <p>CIN: {{user.visitor.cin }}</p>
        </div>
        <div class="col s12 m6">
            <p clas="lead">Book borrowed : </p>
           {% for book in user.books.all %}<a href="{{book.get_absolute_url}}">{{book.book_name}}</a>{% endfor %}
        </div>
        </div>
        <!-- /.row -->
       <div class="row">
        <div class="col s12 m2">
          <div class="btn update">
              <a href="{% url 'users:update' request.user.pk %}">update</a>
          </div>
        </div>
      </div>
            
</div>
{% endblock %}