html,
body {
    /*height: 100%;*/
}
.base_template{
    padding-top: 40px;
}

.opening{
    padding-top: 20px;
}
.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

.side-nav>li>a{
    color: #fff;
}


.side-nav>li>a>{
    color: #fff;
}

.active{
    background: #777;
}

.period {
    display: block;
    font-style: italic;
}


.thumbnail img {
    width: 100%;
}

.ratings {
    padding: 10px
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.borrow-btn{
    padding-right: 10px;
    padding-bottom: 10px;
}


.borrowed{
    margin-right: 10px;
}

.not-active{
    pointer-events: none;
    cursor: default;
}

.check{
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.fb-like{
    padding-left: 10px;
    padding-bottom: 5px;
}

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}