{% extends 'base.html' %} {% load ratings %} {% load crispy_forms_tags %} {% block custom_content %}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %} {% block content %}
<div class="container">
    <h1 class="page-header">Book Details
    </h1>
    <div class="row">
        <div class="thumbnail">
            <img class="responsive-img" src="http://placehold.it/800x300">
            <div class="caption-full">
                <h4>{{ book.book_name }}</h4>
                <p><b>author:</b> {{ book.author_name }}</p>
                <p>{{ book.description }}</p>
                <p><b>ISBN:</b> {{ book.isbn }}</p>
                <p><b>status:</b> {% if not book.status %}
                    <span class="label label-danger">Taken</span> {% else %}
                    <span class="label label-success">Available</span> {% endif %}</p>
                <p><b>publish date:</b> {{ book.publish_date }}</p>
                <p><b>publish place:</b> {{ book.publish_place }}</p>
                <p><b>edition</b> {{ book.edition }}</p>
                <p><b>tags: </b> {{ book.get_tags }}</p>
                {% if user.is_authenticated %} {% if book.borrower == request.user %}
                <div class="col s6 badge red" role="alert">
                    you already borrowed this book!
                </div>
                {% else %}
                <div class="row">
                    <div class="col s6">
                        <a class="btn {% if not book.status %}disabled {% endif %}" href="{% url 'books:borrow' book.id %}">Borrow </a>
                    </div>
                </div>
                {% endif %} {% else %}
                <div class="row ">
                    <div class="borrow-btn">
                        <button class="btn">login to borrow this book </button>
                    </div>
                </div>
                {% endif %}
                <br/>
                <div class="row">
                    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                </div>
                <div class="ratings">
                    {% ratings object %}
                </div>
            </div>
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="100%" data-numposts="5">
            </div>
        </div>
    </div>
</div>
{% endblock %}
