{% extends 'staff_base.html' %}      
{% load crispy_forms_tags %} 

{% block content %} {% include 'staff_navbar.html' %}
<!-- /.navbar-collapse -->
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-sm-12">
                <h1 class="container">{{ pagename }}</h1>
            </div>
        </div>
        <div class="container col-md-6">
            <form action="" method="POST">
                {% csrf_token %}
               {{ form|crispy }}
                <input type="submit" value="submit" class="btn btn-primary">
            </form>
        </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
{% endblock %}
