{% extends 'staff_base.html' %}
{% load widget_tweaks %}
{% load has_group %}
{% block content %}
{% if user|has_group:'admin' %}

	 {% include 'navbar.html' %}
       {% include 'staff_sidebar.html' %}
            <!-- /.navbar-collapse -->
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Add new book</h1>
                    </div>
                    <form action="" method="POST">
						{% csrf_token %}
                        {% for field in form %}
                            <label for="{{ label_tag }}">{{ field.label }}</label>
                            {% render_field field class+="form-control" %}
                        {% endfor %}
					<hr/>
					<input type="submit" value="create" class="btn btn-primary">
					</form>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
        
{% else %}
    {% include 'no_access.html' %}
{% endif %}

        {% endblock %}
