{% extends 'base.html' %}
{% load staticfiles %}
{%  block content %}

    <!-- Page Content -->
    <div class="container">
        <div class="row opening">
            <div class="col-lg-12">
                <img class="img-responsive" src="{% static 'img/picture1.jpg' %}" alt="">
            </div>
        </div>
        <!-- Intro -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Library
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Lorem Ipsum</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Lorem Ipsum</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Lorem Ipsum</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- work time -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Library Work Hours:</h2>
            </div>
            <div class="col-md-6">
                <p>Library is open 6 days a week:</p>
                <ul>
                    <li><strong>Monday</strong>: 7:00 am -- 18:00 pm</li>
                    <li><strong>Tuesday</strong>: 7:00 am -- 18:00 pm</li>
                    <li><strong>Wednesday</strong>: 7:00 am -- 18:00 pm</li>
                    <li><strong>Thursday</strong>: 7:00 am -- 18:00 pm</li>
                    <li><strong>Friday</strong>: 7:00 am -- 16:00 pm</li>
                    <li><strong>Saturday</strong>: 7:00 am -- 14:00 pm</li>
                </ul>
               <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <!-- new books -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">New Books</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x650" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x650" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/600x650" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

{% endblock %}