<div class="navbar-fixed">
<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{% url 'index' %}" class="brand-logo">Library</a>
    <ul class="right hide-on-med-and-down">
      {% if user.is_staff or request.user.is_superuser %}
      <li><a href="{% url 'staff:homepage' %}">dashboard</a></li>
      {% endif %}
      <li>
        <a href="{% url 'books:list' %}">Books</a>
      </li>
      <li>
        <a href="{% url 'books:suggestbook' %}">Suggest a Book</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">Contact</a>
      </li>
      <!-- Dropdown Trigger -->
      <li>
        <a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons nav-icon left">perm_identity</i><i class="material-icons nav-icon right">arrow_drop_down</i></a>
      </li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      {% if user.is_staff or request.user.is_superuser %}
      <li><a href="{% url 'staff:homepage' %}">dashboard</a></li>
      {% endif %}
      <li>
        <a href="{% url 'books:list' %}">Books</a>
      </li>
      <li>
        <a href="{% url 'books:suggestbook' %}">Suggest a Book</a>
      </li>
      <li>
        <a href="{% url 'contact' %}">Contact</a>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  {% if not user.is_authenticated %}
  <li>
    <a href="{% url 'login' %}">Login</a>
  </li>
  <li>
    <a href="{% url 'register' %}">Register</a>
  </li>
  {% else %}
  <li>
    <a href="{% url 'users:profile' request.user.pk %}">Profile</a>
  </li>
  {% endif %}
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'logout' %}">Logout</a>
  </li>
  {% endif %}
  
</ul>
</ul>
</div>