    
<div class="row">
    
      <div class="col-md-3">
      	<p class="lead">Search</p>
      	<form action="">
      	<div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search for..." value="{{ request.GET.q }}">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submite">Go!</button>
      </span>
      </form>
    </div><!-- /input-group -->
	<hr/>	
        <p class="lead">Categories</p>
        <div class="list-group">
          {% for tag in tags %}
            <a href="#" class="list-group-item">{{tag.name}}</a>
          {% endfor %}
        </div>
    </div>